





*{
    box-sizing: border-box;
    --fondo: #304d6d;
    --texto: #F6D2B1
}

:root{
      font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: regular;
        font-style: normal;
}

body{
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1000px;
    min-width: 360px;
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
}

p{
    color: var(--texto);
}
p  span{
    font-weight: bold;
    height: 200px;
    width: 200px;
}

.main-menu{
    margin: 20px 0;
    text-align: right;
}

.book-container{
    background-color: var(--fondo);
    border: 5px solid red;
    /* height: 500px; */
    /* display: inline-block; */
    margin: 5px;
    padding: 10px;
    width: 300px;
}

h1{
    height: 200px;
    width: 600px;
}

.book-container__div{
    height: 400px;
    text-align: center;
    width: 100%;
}

.book-container__title {
    color: #fff;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
}

article{
    background-color: red;
    border: 5px solid red;
    margin: 5px;
    padding: 10px;
    width: 300px;
}

.book-container__resumen{
    font-style: italic;
    height: 250px;
}

.book-container span{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;

}

.book-container__image{
    object-fit: cover;
    width: 250px;
}


.main-section{
    align-content: center;
    align-items: start;
    background-color: rgb(252, 188, 105);
    border: 1px solid blue;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}